{% load static %}

<!DOCTYPE html>

<html>
	<head>
		<title></title>

		<link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="{% static '/life/vendor/bootstrap/css/bootstrap.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static '/life/css/main.css' %}" />

		<script src="{% static '/life/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
		<script src="{% static '/life/vendor/jquery-ui/jquery-ui.min.js' %}"></script>
	</head>
	<body>
    <div class="container">

      <div class="row">
        <h1>
          Food Pantry Index
        </h1>
      </div>
      
      <div class="row header">
        <div class="item_name col-lg-6">
          Item
        </div>
        <div class="stock col-lg-2">
          Quantity
        </div>
        <div class="cost col-lg-2">
          Cost
        </div>
        <div button="add col-lg-2">
        </div>        
      </div>

      {% for item in items %}
      <div class="row">
        <div class="item_name col-lg-6">
          {{item.name}}
        </div>
        <div class="stock col-lg-2">
          {{item.quantity}}
        </div>
        <div class="cost col-lg-2">
          {{item.cost}}
        </div>
        <div button="add col-lg-2">
          <button>
            Swap Item
          </button>
        </div>
      </div>
      {% endfor %}


      <div class="row">
        <button class="collect">
           View Cart
        </button>
      </div>

    </div>
	</body>
</html>