{% load static %}

<!DOCTYPE html>

<html>
	<head>
		<title></title>

		<link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="{% static '/life/vendor/bootstrap/css/bootstrap.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static '/life/css/main.css' %}" />

		<script src="{% static '/life/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
		<script src="{% static '/life/vendor/jquery-ui/jquery-ui.min.js' %}"></script>
	</head>
	<body>
    
      <div class="jumbotron jumbotron-fluid text-center">
        <div class="container">
          <h1 class="display-4">Food Pantry</h1>
          <p class="lead text-muted">Your Cart</p>
        </div>
      </div>
    
	    <div class="container">
        
        {% if items.count > 0 %}
        
      
      <div class="row alert alert-secondary">
        <div class="col col-align-content">
          Item
        </div>
        <div class="col col-align-content">
          Quantity
        </div>
        <div class="col col-align-content">
          Cost
        </div>
        <div class="col col-align-content">
        </div>        
      </div>

      {% for item in items %}
      <div class="row" id="row-item-{{item.id}}">
        <div class="col col-align-content" id="label-name-{{item.id}}">
          {{item.item.name}}
        </div>
        <div class="col col-align-content" id="label-quant-{{item.id}}">
          {{item.quantity}}
        </div>
        <div class="col col-align-content" id="label-cost-{{item.id}}">
          {{item.item.cost}}
        </div>
        <div class="col col-align-content">
          <div class="btn-group item-btn-contain" role="group" aria-label="Cart item controls">
            <button type="button" id="btn-inc-{{item.id}}" class="btn btn-light btn-update">+</button>
            <button type="button" id="btn-dec-{{item.id}}" class="btn btn-light btn-update">-</button>
            <button type="button" id="btn-remove-{{item.id}}" class="btn btn-light btn-update">Remove</button>
          </div>
        </div>
      </div>
      {% endfor %}


      <div class="row add-top-margin">
        <button type="button" class="btn btn-primary btn-lg btn-block" id="btn-pickup">
           Pick Up Items
        </button>
      </div>
        
        
        {% else %}
        
        <div class="row alert alert-info">
          Your cart is empty!
      </div>
        
      <div class="row add-top-margin">
        <a class="btn btn-primary btn-lg btn-block" href="/life/">Back to inventory index</a>
      </div>
        
        {% endif %}

    </div>

  <script>
    
    
    $("#btn-pickup").click(function(e) {
      // do something to clear cart and update inventory items
      
      var postData = {
          'type': 'add',
          'id': e.currentTarget.id
        };
      
      $.ajax({
        url: '/life/editcart/',
        type: 'POST',
        headers: { 'X-CSRFToken': '{{ csrf_token }}' },
        data: JSON.stringify(postData),
        contentType: 'application/json',
        dataType: 'json',
        success: function(data) {
          console.log(data);
          // check returned data to see if this was successful, then do something relevant
        }
      });
      
      // this should redirect to other thing when done, maybe make finished view
    });
    
    
    $(".btn-update").click(function(e) {
      var match = e.currentTarget.id.match(/(\w+)-(\w+)-(\d+)/);      
      $.ajax({
        url: '/life/editcart/',
        type: 'POST',
        headers: { 'X-CSRFToken': '{{ csrf_token }}' },
        data: JSON.stringify({
          'type': match[2],
          'cart_id': match[3]
        }),
        contentType: 'application/json',
        dataType: 'json',
        success: function(data) {
          console.log(data);
          // check returned data to see if this was successful, then do something relevant
        }
      });
      
      // do something to update status
    });
    
  </script>
		
		
	</body>
</html>