{% load static %}

<!DOCTYPE html>

<html>
	<head>
		<title></title>

		<link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="{% static '/life/vendor/bootstrap/css/bootstrap.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static '/life/css/main.css' %}" />

		<script src="{% static '/life/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
		<script src="{% static '/life/vendor/jquery-ui/jquery-ui.min.js' %}"></script>
	</head>
	<body>
		<div class="title">
			<h1>
				Food Items
			</h1>
		</div>

		
		<div class="cart_items">
			
			{% for item in items %}
				<div class="food_item">
					<div class ="item_name">
						{{item.name}}
					</div>
					<div class = "stock">
						{{item.quantity}}
					</div>
					<div class = "cost">
						{{item.cost}}
					</div>
					<div button="add">
					</div>
			`</div>
			{% endfor %}
		</div>
		<div button="collect">
			
		</div>
		
		
	</body>
</html>