{% load static %}

<!DOCTYPE html>

<html>
	<head>
		<title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

		<link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="{% static '/life/vendor/bootstrap/css/bootstrap.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static '/life/css/main.css' %}" />

		<script src="{% static '/life/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
		<script src="{% static '/life/vendor/jquery-ui/jquery-ui.min.js' %}"></script>
	</head>
	<body>
      
      <div class="jumbotron jumbotron-fluid text-center">
        <div class="container">
          <h1 class="display-4">Food Pantry</h1>
          <p class="lead text-muted">Index</p>
        </div>
      </div>
    <div class="container">
      
      <div class="row header">
        <div id="item_label" class="col-6">
          Item
        </div>
        <div id="quantity_label" class="col">
          Quantity
        </div>
        <div id="cost_label" class="col">
          Cost
        </div>
        <div class="add col">
        </div>        
      </div>

      {% for item in items %}
      <div class="row">
        <div class="item_name col-6">
          {{item.name}}
        </div>
        <div class="stock col">
          {{item.quantity}}
        </div>
        <div class="cost col">
          {{item.cost}}
        </div>
        <div class="add col">
          <button id="{{item.pk}}" type="button" class="btn btn-outline-info swapbutton">
            Swap Item
          </button>
        </div>
      </div>
      {% endfor %}


      <div class="row">
        <a class="btn btn-primary btn-lg btn-block" href="cart">View Cart</a>
      </div>

    </div>
	
	<script>    
    function getCookie(name) {
      var cookieValue = null;
      if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
          var cookie = jQuery.trim(cookies[i]);
          if (cookie.substring(0, name.length + 1) === (name + '=')) {
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
            break;
          }
        }
      }
      return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');
    
    $(".swapbutton").click(function(e) {
      $.ajax({
        url: '/life/editcart/',
        type: 'POST',
        headers: { 'X-CSRFToken': '{{ csrf_token }}' },
        data: JSON.stringify({
          'type': 'add',
          'id': e.currentTarget.id
        }),
        contentType: 'application/json',
        dataType: 'json',
        success: function(data) {
          console.log(data);
          // check returned data to see if this was successful, then do something relevant
        }
      });
    });
	</script>
		
		
	</body>
</html>