{% load static %}

<!DOCTYPE html>

<html>
	<head>
		<title></title>

		<link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="{% static '/life/vendor/bootstrap/css/bootstrap.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static '/life/css/main.css' %}" />

		<script src="{% static '/life/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
		<script src="{% static '/life/vendor/jquery-ui/jquery-ui.min.js' %}"></script>
	</head>
	<body>
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">
          {% if item %} Update Item {{id}} {% else %} Add New Item {% endif %}
        </h1>
        {% if item %}
        <p class="lead text-muted">{{ item.name }}</p>
        {% endif %}
      </div>
    </div>
    <div class="container">
      <form method="post">
        {% csrf_token %} {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Submit Changes</button>
      </form>     
    </div>
	</body>
</html>