{% load static %}

<!DOCTYPE html>

<html>
	<head>
		<title></title>

		<link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="{% static '/life/vendor/bootstrap/css/bootstrap.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static '/life/css/main.css' %}" />

		<script src="{% static '/life/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
		<script src="{% static '/life/vendor/jquery-ui/jquery-ui.min.js' %}"></script>
	</head>
	<body>
		<div class="inventory col-lg-12">

				Food Pantry Items

		</div>
		
		<div class="items_view col-lg-12">
			
			{% for item in items %}
				<div class="item col-lg-12">
					<div class ="item_name col-lg-6">
						{{item.name}}
					</div>
					<div class = "stock col-lg-2">
						{{item.quantity}}
					</div>
					<div class = "cost col-lg-2">
						{{item.cost}}
					</div>
					<div button="add col-lg-2">
					</div>
			`</div>
			{% endfor %}
			

		</div>

		
		
	</body>
</html>